<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/cm_top.html :: head(metaParam='',title='메인') "></head>

<body>

  <div class="alert alert-warning" role="alert" th:if="${account?.emailVerified} == false" onclick="location.href='/account/check-email';">
    버튼을 눌러 이메일을 인증해주세요.
  </div>


    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Jangbayo Product</h1>
            <p class="lead text-muted">장바요는 인근 마트와 고객에게 최단 기간안에 물품을 구매 및 배송하는데 목표를 두고 있습니다.</p>
            <p sec:authorize="isAnonymous()">
              <a href="/account/sign-up" class="btn btn-primary my-2">회원가입하러가기</a>
              <a href="/login" class="btn btn-secondary my-2">로그인하러가기</a>
            </p>

            <p sec:authorize="isAuthenticated()">
              <a href="/account/principal" class="btn btn-primary my-2">인증정보 확인</a>
              <a href="/account/principal-modify" class="btn btn-secondary my-2">권한 편집</a>
            </p>
          </div>
        </div>
      </section>


</body>
</html>