<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>index</h1>

    <div sec:authorize="isAnonymous()">
        회원가입 : <a href="/account/sign-up">회원가입하러가기</a> <br/>
        로그인 : <a href="/login">로그인하러가기</a> <br/>
    </div>

    <div sec:authorize="isAuthenticated()">
        인증 : <a href="/account/principal" >인증정보 확인</a>
        권한 : <a href="/account/principal-modify" >권한 편집</a>
        <form th:action="@{/logout}" method="post" >
            <button type="submit">로그아웃</button>
        </form>
    </div>

</body>
</html>