<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/cm_top.html :: head(metaParam='',title='회원가입') "></head>
<style>
    .container {
        max-width: 500px;
    }
</style>

<body>


    <div class="container">

        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/img/jangbayo.png" alt="" width="72"
                height="57">
            <h2>회원가입</h2>
            <p class="lead"> 장바요 사이트에 오신 것을 환영합니다!</p>
        </div>

        <h2>회원가입 양식</h2>
        <form th:action="@{/account/sign-up}" method="post" th:object="${signUpForm}">
            <div class="mb-3">
                <label for="nickname" class="form-label">Email address</label>
                <input type="text" class="form-control" th:field="*{nickname}"  aria-describedby="nicknameerror">
                <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname Error</small>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" th:field="*{email}" class="form-control"  aria-describedby="emailHelp">
                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</small>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password"  th:field="*{password}" class="form-control" >
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>

</html>