<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>

<header th:replace="fragments/cm_top.html :: head('상담')"></header>

<body>

    <div class="container">

        <!-- 검색 영역 -->
        <div>
            <form method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control"  aria-label="검색" name="searchString" th:placeholder="${searchString}"
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">검색</button>
                    </div>
                </div>
            </form>
        </div>

        <div>
            <div>
                총 건수 : <span th:text="${list.TotalElements}">15</span>
            </div>

            <span th:if="${list.TotalElements < 1 }">데이터가 없습니다.</span>

            <table th:if="${list.TotalElements > 0 }" class="table table-hover">

                <thead class="thead-dark">
                    <tr>
                        <th>번호</th>
                        <th>아이디</th>
                        <th>상담제목</th>
                        <th>상담일</th>
                        <th>답변일</th>
                    </tr>
                </thead>

                <tbody>

                    <tr th:each=" row : ${list}" th:onclick="'javascript: detail('+ ${row.id}+')'">
                        <td th:text="${row.id}">번호</td>
                        <td th:text="${row.userid}">아이디</td>
                        <td th:text="${row.consultTitle}"> 상담제목</td>
                        <td th:text="${#temporals.format(row.created,'yyyy-MM-dd')}">상담일</td>
                        <td th:text="${#temporals.format(row.answerTime,'yyyy-MM-dd')}">답변일</td>
                </tbody>
            </tr>
        </table>
    </div>


    <div class="Board-pagination" th:if="${list.TotalElements > 0}">
        <ul class="pagination justify-content-center">

            <!-- 이전 페이지  -->
            <li class="page-item " th:classappend="${startPage < list.pageable.pageSize} ? 'disabled'">
                <a class="page-link"
                    th:href="@{/consult/consult-list(page=${startPage - list.pageable.pageSize-1}, searchString=${param.searchString})}"
                    tabindex="-1" aria-disabled="true">Previous</a>
            </li>

            <!-- 페이지 10개 -->
            <li class="page-item" th:classappend="${i == list.pageable.pageNumber+1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}"><a class="page-link"
              th:href="@{/consult/consult-list(page=${i-1}, searchString=${param.searchString})}" th:text="${i}">1</a>
          </li>


          <!-- 다음 페이지 -->
          <li class="page-item "  th:classappend="${startPage + list.pageable.pageSize >  list.totalPages } ? 'disabled'">
            <a class="page-link"  th:href="@{/consult/consult-list(page=${startPage + list.pageable.pageSize -1 }, searchString=${param.searchString})}">Next</a>
          </li>

          
        </ul>
    </div>
        <a type="button" class="btn btn-success float-right" th:href="@{/consult/consult-detail}">쓰기</a>
        
    
</body>
</html>

<script>
    
    function detail(param) {  
        location.href = "/consult/consult-detail?id="+param;
    }
</script>